**/*.min.js
bower_components/**
cypress/**
build/**
cache/**
coverage/**
dist/**
grunt/**
instrumented/**
instrumented-integration/**
instrumented-benchmark/**
js/libs/**
node_modules/**
test/data/**
